.linha {
  display: block;
}

.formulario input {
  width: 100%;
}

.formulario .icone {
  width: 20%;
}

.formulario .mensagem {
  color: #166CBF;
  margin-bottom: 15px;
}

.formulario select {
  width: 75%;
}

.formulario input.time{
  width: 48%;
}